body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  
}
.bookmark {
  width: 0px;
  height: 200px;
  border: 100px solid transparent;
  border-bottom: 50px solid white;
  background-color: tomato;
  border-radius: 20px 20px 1px 1px;
  z-index: 0;
  margin-left: 20px;
}

